* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font: size 10px;
}

footer {
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background: #010102;
}

footer .content1 {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content1 .box {
  width: 33%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: white;
}

@media screen and (max-width: 950px) {
  footer .content1 .box {
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  footer .content1 .box {
    width: 100%;
    margin-top: 30px;
    line-height: 47px;
    font-size: 25px;
  }
}

footer .content1 .topic {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (max-width: 560px) {
  footer .content1 .topic {
    font-size: 31px;
    margin-bottom: 0px;
    margin-top: 11px;
  }
}

@media screen and (max-width: 450px) {
  footer .content1 .topic {
    font-size: 30px;
  }
}

footer .content1 p {
  text-align: justify;
}

@media screen and (max-width: 560px) {
  footer .content1 p {
    margin-bottom: 36px;
  }
}

footer .content1 .lower .topic {
  margin: 9px 0 5px 0;
}

footer .content1 .lower i {
  padding-right: 16px;
}

footer .content1 .middle {
  padding-left: 80px;
}

@media screen and (max-width: 1100px) {
  footer .content1 .middle {
    padding-left: 50px;
  }
}

footer .content1 .middle a {
  line-height: 32px;
}

@media screen and (max-width: 560px) {
  footer .content1 .middle {
    padding-left: 0;
  }
}

footer .content1 .media-icons {
  margin-top: -18px;
}

footer .content1 .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .content1 .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

footer a {
  color: #fff;
}

@media screen and (max-width: 950px) {
  footer .right {
    margin-top: 40px;
  }
}

@media screen and (max-width: 560px) {
  footer {
    position: relative;
  }
}

@media screen and (max-width: 450px) {
  footer {
    position: relative;
    width: 227%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  footer .topic {
    font-size: 29px;
  }
}

footer .email {
  margin-top: 10px;
}
/*# sourceMappingURL=footer1.css.map */