body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

@media screen and (max-width: 400px) {
  body body {
    overflow-x: hidden;
  }
}

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  list-style: none;
}

nav {
  background-image: url("Blog-Web-Header-Background.jpg");
  height: 313px;
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 400px) {
  nav {
    width: 210%;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav {
    height: 228px;
    top: 63%;
    padding: 7px 25px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1340px) {
  nav {
    width: 100%;
    height: 250px;
  }
}

nav #check {
  display: none;
}

nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 400px) {
  nav .checkbtn {
    display: block;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav .checkbtn {
    display: block;
  }
}

nav label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav label.logo {
    padding: -1px 100px;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav label.logo {
    padding: 0px 0px;
  }
}

nav ul {
  float: right;
  margin-right: 20px;
}

@media screen and (max-width: 400px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: #070606;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: none;
    transition: none;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: #000003;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: none;
    transition: none;
  }
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

@media screen and (max-width: 400px) {
  nav ul li {
    display: block;
    line-height: 30px;
    margin: 30px 0;
    line-height: 30px;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav ul li {
    display: block;
    line-height: 30px;
    margin: 30px 0;
    line-height: 30px;
  }
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  nav ul li a {
    font-size: 20px;
  }
}

.footer {
  margin-top: 40px;
  height: 100px;
  background: #00293f;
  background-image: url("img.jpg");
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .footer {
    width: 713px;
  }
}

.fa-bars:before {
  content: "\f0c9";
  padding-right: 40px;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .fa-bars:before {
    padding-right: 0px;
  }
}

#check:checked ~ ul {
  left: 0;
}

form {
  /* border: 3px solid #f1f1f1; */
  margin-top: 5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 400px) {
  form {
    margin-top: 105px;
    margin-bottom: 30px;
    margin-left: 205px;
  }
}

form h2 {
  margin-bottom: 13px;
}

form .container {
  margin-top: 118px;
  padding: 16px;
  width: 400px;
  margin: auto;
  border: 1px solid;
  /* height: 336px; */
  height: auto;
  -webkit-box-shadow: #6e6867 4px 7px;
          box-shadow: #6e6867 4px 7px;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  form .container {
    width: 200%;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  form .container {
    width: 53%;
    margin-left: 158px;
  }
}

form input[type=text],
form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form button {
  background-color: #00b894;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}

form button:hover {
  opacity: 0.8;
}

form .cancelbtn {
  width: 200px;
  padding: 10px 18px;
  background-color: #f44336;
  margin-top: 10px;
  background: #00b894;
}

@media screen and (max-width: 400px) {
  form .cancelbtn {
    width: 100%;
  }
}

form .cancelbtn a {
  text-decoration: none;
  color: cornsilk;
}
/*# sourceMappingURL=form.css.map */